body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.container-grid {
  display: flex;
  flex-flow: row;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.item {
  border: 1px solid #eee;
  width: 350px;
  padding: .5rem;
  text-align: left;
  margin: 0px 1rem 0px 1rem;
  min-width: 150px;
  display: flex;
  flex-flow: column;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 1px 1px rgb(125, 123, 123);
}

.item > .comments {
  width: 100%;
  border: 1px solid #0000007a;
  text-align: left;
  align-self: center;
  border-radius: 2px;
}

.item > .item-info > .muted {
  text-indent: 1rem;
  color: grey;
  padding: 0px;
  margin: 1rem 0px;
}
.item > .comments > form {
  border: 1px;
}
.item > .comments > form > textarea {
  border: 0px solid black;
  width: auto;

}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.72);
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  padding: 0px 2rem;
  background-color: white;
  border: 1px solid black;
  height: 300px;
  position:fixed;
  z-index: 999999;
  width: 700px;
  height: 300px;
  margin-left:auto;
  margin-right: auto;
}

body {
  padding: 0px 2rem
}

input {
  width: 200px;
  height: 45px;
  padding: 0px .7rem;
  margin: 0px .2rem;
  font-size: .9rem;
}

input[type='submit'] {
  background-color: #2f3d44;
  color: white;
  height: 45px;
}